*{
	margin: 0;
	padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body{
	background: url("../img/fondo7.jpg");
	background-attachment: fixed;
	background-size: cover;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
  }

.formulario{
	background: rgba(  242, 244, 244, .15);
	margin: 50px auto;
	width: 30%;
	padding: 20px;
	border-radius: 5px solid #000;
}

.formulario input{
	display: block;
}

.formulario input[type="text"],
.formulario input[type="password"]{
	width: 100%;
	padding: 20px;
	margin-bottom: 20px; 
	border-radius: 3px;
	border: 1px solid  #000;
	font-family: 'Poppins', arial;
	font-size: 16px;
	background: rgba( 242, 244, 244, .15);
}

.formulario input[type="text"]:focus,
.formulario input[type="password"]:focus{
	border: 2px solid #6d1004;
}

.formulario input[type="submit"]{
	width: 200px;
	margin: 0 auto;
	background: none;
	border: 1px solid #000000;
	color:#000;
	padding: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 2px;
}

.formulario input[type="submit"]:hover{
	border: 2px solid #6d1004;
}

.contenedor .titulo{
	text-align: center;
	margin: 30px auto;
	color: #6d1004;
	padding: 20px;
	width: 50%;
	font-family: "Poppins", arial;
	font-size: 30px;
}

.contenedor p{
	text-align: center;
	padding: 20px;
}
.contenedor p a{
	text-decoration:none;

}

.contenedor p a:visited{
	color:  #6d1004 ;
}

.contenedor p a:hover{
	color: #bb1700 ;
}

@media screen and (max-widht:800px){
	.contenedor{
		width:100%;
	}
	.formulario input[type="text"],
    .formulario input[type="password"]{
		width: 100%;
	}
}

@media screen and (max-widht:200px){
	.formulario{
		width: 100%;
	}
}

p#log {
	color:rgb(128, 20, 20)
}